@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* hide titlebar */
#titlebar-buttonbox {
    overflow: hidden;
}

/* hide tabs */
#TabsToolbar {
    visibility: collapse !important;
}

/* hide 'search with' text */
.ac-separator[actiontype="searchengine"],
.ac-action[actiontype="searchengine"] {
    visibility: collapse !important;
}

/* hide toolbar border */
#navigator-toolbox {
    border: none !important;
}

/* change browser frame color */
window:not([privatebrowsingmode]) .browserContainer {
    background-color: #323234;
}

/* hide sidebar header */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
    visibility: collapse !important;
}

/* hide resizer */
#sidebar-box + #sidebar-splitter {
    display: none !important;
}

#sidebar-box {
    border-right: 1px solid ThreeDShadow;
}

/* sidebar fixed width */
#sidebar-box {
    min-width: 320px !important;
    max-width: 320px !important;
}

/* hide tree tab when only one tab open on window */
#main-window[title^="[1]"][sizemode="normal"] #sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
    visibility: collapse !important;
}
