[Desktop Entry]
Type=Application
Name=Events Monitor
Comment=Run actions on OS events
Terminal=false
Exec=events-monitor
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=5
X-GNOME-AutoRestart=true
