@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* hide titlebar */
#titlebar-buttonbox {
	overflow: hidden;
}

/* navbar height */
:root[uidensity="compact"] #nav-bar {
	height: 29px;
}

:root[uidensity="compact"] #urlbar {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	min-height: 25px !important;
	height: 25px !important;
}

/* hide tabs */
#TabsToolbar {
	visibility: collapse !important;
}

/* hide content blocking indicator */
#tracking-protection-icon-box {
   visibility: collapse !important;
}

/* hide visit site text */
.ac-separator[actiontype="visiturl"],
.ac-action[actiontype="visiturl"] {
   visibility: collapse !important;
}

/* hide sidebar header */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
   visibility: collapse !important;
}

/* hide resizer */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] + #sidebar-splitter {
    display: none !important;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
    border-right: 1px solid ThreeDShadow;
}

/* sidebar fixed width */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
    min-width: 240px !important;
    max-width: 240px !important;
}

/* hide tree tab when only one tab open on window */
#main-window[titlepreface^="[1]"] #sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
	visibility: collapse !important;
}
