@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* hide titlebar */
#titlebar {
	visibility: collapse !important;
}

/* hide tabs */
#TabsToolbar {
	visibility: collapse !important;
}

/* hide sidebar header */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
   visibility: collapse !important;
}

/* hide resizer */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] + #sidebar-splitter {
    display: none !important;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
    border-right: 1px solid ThreeDShadow;
}

/* sidebar fixed width */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
    min-width: 251px !important;
    max-width: 251px !important;
}

/* hide tree tab when only one tab open on window */
#main-window[titlepreface^="[1]"] #sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
	visibility: collapse !important;
}
